* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
}

:root {
  --fuchsia: #3f3d56;
  --magenta: #ee24ff;
  --gray-100: #eceff2;
  --gray-200: #828282;
  --open-sans: "Open Sans", sans-serif;
  --dosis: "Dosis", sans-serif;
}

body {
  height: 100vh;
}

#hero {
  width: 626px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0;
  align-items: center;
}

#hero-image {
  width: 350px;
}

#hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

#hero-title {
  font-family: var(--dosis);
  color: #3f3d56;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

#hero-title span {
  color: var(--magenta);
  font-weight: 700;
}

#hero-subtitle-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 540px;
}

#hero-subtitle-container p {
  color: var(--gray-200);
  text-align: center;
  font-size: 15px;
  line-height: 22px; /* 146.667% */
}

#hero-subtitle-container p strong {
  color: var(--fuchsia);
  font-weight: 700;
}

#hero-subtitle-container p span {
  font-weight: 700;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-container {
  width: 391px;
  display: flex;
  gap: 42px;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  border-top: 1px solid var(--gray-100);
}

#footer-container a {
  color: var(--fuchsia);
  font-size: 15px;
  font-weight: 700;
  line-height: 147.682%;
  text-decoration: none;
}

#wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* Mobile */
@media (max-width: 768px) {
  #hero {
    width: 100%;
    padding: 64px 16px;
  }

  #hero-image {
    width: 60%;
    min-width: 250px;
  }

  #hero-title {
    font-size: 24px;
  }

  #hero-subtitle-container {
    width: 100%;
  }

  #hero-subtitle-container p {
    font-size: 13px;
    text-wrap: balance;
  }

  #footer-container {
    width: 80%;
    gap: 16px;
    padding-top: 8px;
  }

  #footer-container a {
    font-size: 12px;
  }
}
